doctype html
html(lang="en")
  head
    title= Chat
    meta(name="viewport" content="width=device-width, initial-scale=1") 
    script.
      var gon = !{JSON.stringify(gon)};
  body
    #chat.h-100
    script(src='/assets/chat.bundle.js')
