doctype html
html(lang="ru")
    head
        title= BadBoys
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script.
    body
        #root
        script(src='/assets/landing.bundle.js')
