doctype html
html(lang="en")
  head
    title= News
    meta(name="viewport" content="width=device-width, initial-scale=1") 
    script.
      var gon = !{JSON.stringify(gon)};
  body
    #news.h-100
    script(src='/assets/news.bundle.js')
