.column-cnt {
    width: 275px;
    margin: 0 4px;
    height: 85vh;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow-y: auto;
}

.column-cnt:first-child {
    margin-left: 5px;
}

.column-content {
    background-color: #dddeee;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}

.column-header {
    padding: 10px 8px;
    min-height: 50px !important;
    color: #172b4d;
}

.column-tasks {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;
}

.column-footer {
    min-height: 38px;
    max-height: 38px;
    display: flex;
    justify-content: flex-start;
    color: #5e6c84;
}

@media screen and (max-width: 500px){
    .column-cnt {
        padding-bottom: 130px;
    }
}
