#tasks {
    height: 100%;
    font-size: 14px;
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/original/5fa127d51765563a44711a928d99b199/photo-1581610186406-5f6e9f9edbc1");
    background-size: 100% 100%;
    font-family: sans-serif !important;
}

#board {
    overflow-x: scroll;
    white-space: nowrap;
}

.board-item {
    display: inline-block;
}
