#tasks {
    height: 100%;
    font-size: 14px;
    /*background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/original/5fa127d51765563a44711a928d99b199/photo-1581610186406-5f6e9f9edbc1");*/
    background-color: #172b4d;
    background-size: 100% 100%;
    font-family: sans-serif !important;
}

#board {
    overflow-x: scroll;
    white-space: nowrap;
}

.board-item {
    display: inline-block;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: #172b4d;
    outline: #172b4d;
}

.cursor-pointer {
    cursor: pointer;
}

.break-word {
    word-wrap: break-word;
}
