html {
  font-size: 18px;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#chat {
  height: calc(100% - 63px);
}

.fields {
  overflow-y: auto;
  height: 90%;
}

.channels {
  overflow-y: auto;
}

.form input, form .btn {
  height: 3rem;
}

.message p {
  word-wrap: break-word;
}

strong {
  font-size: large;
}

#logo {
  transform: scale(1.4);
}
